[Unit]
Description=weather_bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh /home/pi/scripts/weather_bot/service/starter.sh
WorkingDirectory=/home/pi/scripts/weather_bot
Restart=always
RestartSec=3
StandardOutput=journal+console

[Install]
WantedBy=basic.target